{% extends "imagersite/base.html" %}

{% block body %}

    <main class="article-content">
      <div class="page-header">
        <h1 class="page-title">Profile</h1>
      </div>
      <div class="card">
        <div class="card-body">
          <img src="{{ data.photo_url }}" style="height: 100px; width: 100px;"/>
            <p class="card-text">Photo Count: {{ data.num_photos }} <br> Album Count: {{ data.num_albums }}</p>
            <p class="card-text">Profile</p>
        </div>
        <div class="card-footer text-muted">
        </div>
      </div>


    </main>
{% endblock %}